name: unit test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['2.7', '3.5', '3.6', '3.7', '3.8']
    name: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: pip install 'pytest>=3.0.3' mock requests jedi
      - name: Run tests
        run: py.test
